body {
    text-align: center;
    background-color: rgb(240, 133, 214);
    font-size: larger;
}

h1 {
    color: blue;
}

.start {
    font-weight: 900;
}

.quotes {
    background-image: url("../images/play.jpg");
    color: aliceblue;
}

#mygames {
    font-weight: 700;
}

.cricket {
    background-image: url("../images/cricket.jpg");
    color: rgb(4, 249, 78);
}

.badminton {
    background-image: url("../images/badminton.jpg");
    color: rgb(228, 0, 8);
}

.football {
    background-image: url("../images/football.jpg");
    color: gold;
}

.basketball {
    background-image: url("../images/basketball.jpg");
    color: rgb(148, 12, 12);
}
